<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../scripts/exploreId.js"></script>
  <title>THIS IS THE CREATE PAGE</title>
</head>

<header>THIS IS THE CREATE PAGE</header>

<body id="#body">

  <div>
    <%=map.title%>
  </div>
  <!-- <%=markers[0].latitude%> -->
  <div>

    <button id="buttonPressForStuff">PRESS ME FOR STUFF</button>

  </div>
  <div id="map" style="width: 500px; height: 500px;"></div>
  <div id="map"></div>
  <!-- MAP api change key-->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn7dBW6G6TF62UyX3krF5enoY6WF3A7Tg&callback=initMap"
    async defer></script>


</body>

</html>
