<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="../scripts/geocode.js"></script>
  <title>Document</title>
</head>

<body>
  <form id='search-query'>
    <input id='search-input'>
    <button type='submit'>Search</button>
  </form>

  <div id='formatted_address'> </div>
  <div id='components'> </div>
  <div id='geometry'></div>
</body>

</html>
