<!DOCTYPE html>
<html lang="en">

<head>
  <!-- STYLE SHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map.css" type="text/css" />
  <!-- LEAFLET -->
  <!-- CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>

  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>


  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- LATO weight 100-700-->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <!--  FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- EXTERNAL JS -->
  <script type="text/javascript" src="../scripts/app.js"></script>
  <script type="text/javascript" src="/routes/index.js"></script>
  <script type="text/javascript" src="../server.js"></script>
  <!-- HEAD -->

  <title>carta: explore</title>

</head>

<body>
  <div class="main-container">

    <nav>
      
      <!-- Replace links with proper routes  -->
      <a href="/placeholder/index"><img src="/IMGS/header-circle-small.png"></a>
      <ul>
        <li><a href="placeholder">sign up</a></li>
        <li><a href="placeholder">login</a></li>
      </ul>
    </nav>
    <!-- explore -->
    <div id="explore">
      <div class="brand-display">
        <img src="/IMGS/title-display.png">
      </div>

      <!-- FORM GET -->
      <form onsubmit="event.preventDefault();" role="search">
        <label for="search">explore</label>
        <input id="search" type="search" placeholder="explore" autofocus required />
        <button type="submit" id="btn-explore"><i class="fas fa-search" style="color: #243918;"></i></button>
      </form>


      <!-- PROFILE -->
      <!-- https://datatables.net/examples/api/row_details.html -->
      
       <div id="mapid"></div>
      <h1>MAP</h1>
      </div>
      <!-- MAIN CONTAINER -->
    </div>
</body>
<!-- FOOTER -->
<footer>
  <div>
    <p><a href="placeholder">about</a></p>
    <button id="to-top"> <i class="fas fa-arrow-up" style="color:#faf7ef; "></i> </button>
  </div>
</footer>

</html>

</html>
