<!DOCTYPE html>
<html lang="en">

<head>
  <!-- External CSS -->

  <!-- STYLE SHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <!-- <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" /> -->
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.scss" type="text/css" />
  <link rel="stylesheet" href="/styles/main.scss" type="text/css" />
  
  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- LATO weight 100-700-->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <!-- EXTERNAL JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/routes/index.js"></script>
  <script type="text/javascript" src="/server.js"></script>
  <!-- HEAD -->

  <title>carta: explore</title>
</head>
<body>

<nav>
  <img src="/IMGS/header-circle.png">
    <span>sign up</span>
    <span>login</span>
</nav>

  <div class="main-container">
    <img src="/IMGS/title-display.png">
    <form onsubmit="event.preventDefault();" role="search">
      <label for="search">Search for stuff</label>
      <input id="search" type="search" placeholder="Search..." autofocus required />
      <button type="submit">Go</button>    
    </form>
  </div>


</body>
</html>