<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <!-- API -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- AXIOS -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- STYLE SHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map.css" type="text/css" />

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- LATO weight 100-700-->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <!--  FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- MAP api change key-->

  <!-- EXTERNAL JS -->
  <script type="text/javascript" src="../scripts/app.js"></script>
  <script type="text/javascript" src="../scripts/map.js"></script>
  <script type="text/javascript" src="/routes/index.js"></script>
  <script type="text/javascript" src="../server.js"></script>
  <!-- SERVER IN PROJECT ROOT -->

  <title>carta: explore</title>
  <!-- HEAD -->
</head>

<body>
  <nav>
    <!-- Replace links with proper routes or single page refresh -->
    <!-- Replace links with proper routes  -->
    <a href="/placeholder/index"><img src="/IMGS/header-circle-small.png"></a>
    <ul>
      <li><a href="placeholder">logout</a></li>
    </ul>
  </nav>
  <div class="main-container">

    <!-- explore -->
    <div id="explore">
      <!-- PROFILE -->
      <div class="box-body">
        <div class="profile">
          <img src="/IMGS/title-display-crm.png">
        </div>

        <!-- MAPS -->
        <div id="map"></div>

        <!-- everthing below if you want location encoding -->
        <!-- <body onload="initialize()">
          <div id="map" style="width: 320px; height: 480px;"></div>
           <div>
             <input id="address" type="textbox" value="Sydney, NSW">
             <input type="button" value="Encode" onclick="codeAddress()">
           </div>
         </body> -->

        <!-- MAP api change key-->
        <script src="https://maps.googleapis.com/maps/api/js?key=<%=env.API_KEY%>&callback=initMap" async
          defer></script>
      </div>
    </div>

  </div>
  <!-- MAIN CONTAINER -->
  </div>
</body>

<!-- FOOTER -->
<footer>
  <div>
    <p><a href="placeholder">about</a></p>
    <button id="to-top"> <i class="fas fa-arrow-up" style="color:#faf7ef; "></i> </button>
  </div>
</footer>

</html>
