<!DOCTYPE html>
<html lang="en">

<head>
  <!-- JQUERY -->
  <!-- API -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <!-- AXIOS -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <!-- STYLE SHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/map.css" type="text/css" />
  <link rel="stylesheet" href="/styles/footer.css" type="text/css" />

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- LATO weight 100-700-->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <!--  FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- MAPBOX -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />
  <!-- EXTERNAL JS -->
  <script type="text/javascript" src="../scripts/app.js"></script>
  <script type="text/javascript" src="../scripts/map.js"></script>
  <script type="text/javascript" src="/routes/index.js"></script>
  <script type="text/javascript" src="../server.js"></script>
  <!-- SERVER IN PROJECT ROOT -->



  <title>carta: profile</title>
  <!-- HEAD -->
</head>

<body>
  <nav>
    <!-- Replace links with proper routes or single page refresh -->
    <!-- Replace links with proper routes  -->
    <a href="/placeholder/index"><img src="/IMGS/title-top-dark.png"></a>

    <ul>
      <li><a href="placeholder">logout</a></li>
    </ul>
  </nav>
  <div class="main-container">

    <!-- explore -->
    <div id="explore">
      <!-- PROFILE -->
      <div class="box-body">
        <div class="profile">
          <!-- <img src="/IMGS/profile-placeholder.png"> -->
        </div>

        <div class="content-large">
          <h3>create map</h3>
          <!-- FORM GET -->
          <!-- add here -->
          <form id="ajaxTestForm">
            <div style=color:white>LATITUDE</div>
            <textarea class="latitudeBox" placeholder="LATITUDE HERE"></textarea>
            <div style=color:white>LONGITUDE</div>
            <textarea class="longitudeBox" placeholder="LONGITUDE HERE"></textarea>
            <button id="ajaxButton" class="ajaxButton" type="submit">PRESS ME FOR AJAX</button>
          </form>
        </div>

        <div id="map-container">
          <!-- MAPS -->
          <div id="map"></div>
          <!-- MAP api change key-->
          <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBn7dBW6G6TF62UyX3krF5enoY6WF3A7Tg&callback=initMap"
            async defer>
          </script>
        </div>
        <!-- MAIN CONTAINER -->
        </div>
      </div>
    </div>
</body>
<!-- FOOTER -->
<footer>
  <button id="to-top"><img src="/IMGS/to-top.png"></i></button>
</footer>
</html>
</html>
