<!DOCTYPE html>
<html lang="en">

<head>
  <!-- STYLE SHEETS -->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />

  <!-- GOOGLE FONTS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- LATO weight 100-700-->
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
    rel="stylesheet">
  <!--  FONT AWESOME -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <!-- EXTERNAL JS -->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/routes/index.js"></script>
  <script type="text/javascript" src="/server.js"></script>
  <!-- MAPBOX -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet' />

  <title>carta: explore</title>

  <!-- HEAD -->
</head>

<body>
  <div class="main-container">

    <nav>
      <!-- Replace links with proper routes or single page refresh -->
      <!-- Replace links with proper routes  -->
      <a href="/placeholder/index"><img src="/IMGS/header-circle-small.png"></a>
      <ul>
        <li><a href="placeholder">sign up</a></li>
        <li><a href="placeholder">login</a></li>
      </ul>
    </nav>
    <!-- explore -->
    <div id="explore">
      <div class="brand-display">
        <img src="/IMGS/title-display.png">
      </div>

      <!-- FORM GET -->
      <form onsubmit="event.preventDefault();" role="search">
        <label for="search">explore</label>
        <input id="search" type="search" placeholder="explore" autofocus required />
        <button type="submit" id="btn-explore"><i class="fas fa-search" style="color: #243918;"></i></button>
      </form>


      <!-- PROFILE -->
      <!-- https://datatables.net/examples/api/row_details.html -->
      <div class="box-body"></div>
      <!-- MAPS -->
      <div id="map"></div>
      <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiY29wbzEyMyIsImEiOiJja3V2dTdvdHMxcjdrMm9xanBtaGdkaHc4In0.cBeBLEBv8OE9UnZgr7EEzQ';
        var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/satellite-streets-v11',
          center: [-123.116226, 49.246292],
          zoom: 11.15
        });
        const geojson = {
          type: 'FeatureCollection',
          features: [
            {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [-123.1340, 49.2712]
              },
              properties: {
                title: 'Mapbox',
                description: 'Granville Island'
              }
            },
            {
              type: 'Feature',
              geometry: {
                type: 'Point',
                coordinates: [-123.1683, 49.2684]
              },
              properties: {
                title: 'Mapbox',
                description: 'Kitsilano'
              }
            }
          ]
        };
        // add markers to map
        for (const feature of geojson.features) {
          // create a HTML element for each feature
          const el = document.createElement('div');
          el.className = 'marker';
          // make a marker for each feature and add to the map
          new mapboxgl.Marker(el).setLngLat(feature.geometry.coordinates).addTo(map)
            .setPopup(
              new mapboxgl.Popup({ offset: 25 }) // add popups
                .setHTML(
                  `<h3>${feature.properties.title}</h3><p>${feature.properties.description}</p>`
                )
            );
        }
      </script>
      <!-- MAIN CONTAINER -->
    </div>
    <script>

    </script>

</body>
<!-- FOOTER -->
<footer>
  <div>
    <p><a href="placeholder">about</a></p>
    <p><i class="fas fa-arrow-up"></i></p>
  </div>
</footer>

</html>

</html>

