:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-cream: #faf7ef;
  --color-brand: #243918;
  --font-fam: 'Lato', 'helvetica', sans-serif;
  --font-title: 1.4em;
  --font-display: 1.4em;
  --font-bold: 700;
  --font-medium: 500;
  --height: 3rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #243918;
}
.main-container {
  min-height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  line-height:150%;
  font-family: 'Lato', 'helvetica', sans-serif;
  font-size: 1em;
  font-weight: 500;
  background-color: #243918;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 nav {
  height: 80px;
  width: 100%;
  background-color:var(--color-brand);
  z-index: 10;
  position: fixed;
  top: 0;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: 2em;
  font-size: 1.4em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline;
  margin-left: 3rem;
}

nav a {
  text-decoration: none;
  color: var(--color-cream);
}

#landing{
  width: 100%;
  min-height: 100vh;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brand-display {
  margin-bottom: 3em;
}

.btn-outline{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
#explore {
  height: 100%;
  width: 100%;
  background-color: transparent;
  flex-basis: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.profile {
  margin-top: 80px;
  width: 300px;
}
.header {
  z-index: 99;
  margin-top: 80px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header p {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: var(--font-fam);
  font-size: 1.8em;
  font-weight: var(--font-medium);
  color: var(--color-cream);
}

//id for jquery page down
#btn-down {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,  
  100% {-webkit-transform: translateY(0);} 
  50% {-webkit-transform: translateY(-10px);}
}


.box-body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.content-large{
  margin-bottom: 0px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;

}

.content-large h3 {
  margin-top: 0.5em;
  color: var(--color-cream);
  font-size: 3.4em;
}
.content-large a {
  text-decoration: none;
  color: var(--color-cream);
}
.content-large h3:hover {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%,  
  100% {-webkit-transform: translateY(0);} 
  50% {-webkit-transform: translateY(-10px);}
}

.content-large span {
  color: var(--color-light);
  justify-items:left;
}

// temporary
#ajaxTestForm {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

.content-expanded {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background-color: var(--color-cream);
  color: #243918;
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;

}
.content-expanded-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.content-expanded p {
color: var(--color-brand);
}
#map-container {
  padding-top: 120px;
  padding-top: 120px;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
// MAPS
#map {
  // display:none;
  width: 75vw;
  height: 75vh;
  border: 3px solid var(--color-brand);
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
}

#searchTerm {
  width: 100%;
  border: none;
  border-right: none;
  padding: 5px;
  height: var(--height);
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #2f2f2f;
}

#exploreButton {
  width: 40px;
  height: var(--height);
  border: 1px solid var(--color-cream);
  background: var(--color-cream);
  text-align: center;
  color:var(--color-brand);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}
#exploreButton:hover {
  background: var(--color-brand);
  color:var(--color-cream);
}

.wrap{
  width: 100%;
  display: flex;
  align-items: center;
}
























//TEMPORARY
.search-add { 
  height: 100%;
  margin-bottom: 80px;
  font-size: var(--font-display);
}
.search-add li {
  margin-top: 5px;
  color: var(--color-cream);
}
.search-query {
  margin-bottom: 25px;
}
#formatted_address {
  margin-top: 10px;
}