nav {
  height: 120px;
	max-width: 100%;
  background-color: white;
  padding-left: 1.75em;
  padding-right: 1.75em;
  z-index: 10;
  position: fixed;
  top: 0;
  width: 100%;
  margin-bottom: 2em;
  display: flex;
}