//NAV
nav {
  height: 80px;
  width: 90%;
  background-color: #243918;
  z-index: 10;
  position: fixed;
  top: 0;
  padding-top: 1em;
  margin-bottom: 2em;
  font-size: 1.4em;
  font-weight: 700;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
nav li {
  display: inline;
  margin-left: 3rem;
}
nav a {
  text-decoration: none;
  color: white;
}
nav a:hover{
  border-bottom: 3px solid var(--color-light);
  padding-bottom: 3px;
}