:root {
  --rad: .7rem;
  --dur: .3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-cream: #faf7ef;
  --color-brand: #243918;
  --font-fam: 'Lato', 'helvetica', sans-serif;
  --font-title: 1.4em;
  --font-display: 1.4em;
  --font-bold: 700;
  --font-medium: 500;
  --height: 3rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}
body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: #243918;
}

body {
  width: 100%;
  height: 100%;
  min-height: 100vh;
}

.main-container {
  min-height: 100vh;
  margin-left: 5%;
  margin-right: 5%;
  line-height:150%;
  font-family: var(--font-fam);
  font-size: 1em;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
 }
 
 .box-body{
  height: 100vh;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
}
.box-body h1{
margin-top: 30%;
margin-bottom: 15%;
font-family: var(--font-fam);
font-weight: var(--font-bold);
color: var(--color-cream);
}
.box-body h3 {
margin-bottom: 10px;
font-family: var(--font-fam);
font-size: 3em;
color: var(--color-cream);
}
.box-body h3 a {
text-decoration: none;
color: var(--color-cream);
}

.box-body h3:hover {
  animation: bounce 1.5s infinite;
}
@keyframes bounce {
  0%,  
  100% {-webkit-transform: translateY(0);} 
  50% {-webkit-transform: translateY(-10px);}
}
#slider {
  display: none;
}
#explore {
  border: 3px solid var(--color-brand);
  margin-top: 80px;
  width: 900px;
  background-color: transparent;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--color-brand);
  border-radius: 10px;
  background-color: var(--color-cream);
  margin: 20px;
  padding: 20px;
  padding-bottom: 0px;

}
.frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-start;
}
.frame h1 {
  margin-top: 0px;
  line-height: 1em;
  font-weight: bold;
}
.preview {
height: 100%;
border: 5px solid var(--color-brand);
}
.description {
  width: 300px;
  margin-right: 100px;
  font-family: var(--font-fam);
  color: var(--color-brand);
}

.right {
  width: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.right i {
  font-size: var(--font-display);
  color:var(--color-brand);
}
.right i:hover {
  color: salmon;
}

.likes {
  width: 65px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.likes p {
  font-size: var(--font-display);
}

.edit {
  display: flex;
  flex-direction: row;
  align-items: center;
}
// .table {
//   height: 900px;
// flex-direction: row;
// justify-content: space-between;
// }
